.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 0.5em;
  align-items: center;
  gap: 1rem;

  :global {
    .gallery-item {
      @apply
        relative
        overflow-hidden
        bg-black
        opacity-90;

      background-image: radial-gradient(#0e0e0e 0.75px, transparent 0.75px);
      background-size: 15px 15px;

      box-shadow: 1px 1px 12px black;

      img, iframe {
        min-width: 100%; 
      }
      iframe {
        min-height: 340px; 
      }

      &:hover {
        aside {
          @apply desktop:translate-y-0;
        }
      }

      aside {
        background-color:rgba(0, 0, 0, 0.5);
        transition: transform .1s ease-in-out;
        transform: translateY(-100%);

        @apply 
          absolute
          handset:bottom-0 
          desktop:top-0
          handset:translate-y-0
          p-2
          w-full
          text-xs
          text-white;
      }
    }
  }
}