.home {
  & > header {
    @apply 
      relative 
      flex items-center justify-center
      bg-cover bg-no-repeat bg-center bg-black
      text-4xl text-white
      w-full h-96;

    background-position: top center;
    
    h1 {
      @apply z-10;
    }

    font-family: 'Satisfy';
    text-shadow: 0 0 6px blue;

    // veil
    &:after {
      content: ' ';
      background: rgb(0,0,0);
      background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,1) 80%);

      @apply 
        block absolute left-0 top-0 w-full h-full 
        bg-opacity-90;
    }
  }

  main {
    @apply p-10;
  }
}